.lightbox figure:hover figcaption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: rgb(30, 216, 61);
    transform: translate(0%, -100%);
    background-color:hsla(0, 78%, 54%, 0.582) ;
    width: 100%;
    height: 100%;           
}
.lightbox figure:hover img{
    transform: scale(1.2);
    transition: all 0.3s;
}
.lightbox figure:hover figcaption h2{
    font-size: 15px;
}